/*------------------------------------------------------------------
[Stylesheet]
Responsiveness Fixes
-------------------------------------------------------------------*/

@media (max-width: 479px) {	
	.content_container h2 {
		font-size: 2rem;
		line-height:2rem;
	}
		
	.container {
		padding-left: 0;
		padding-right: 0;
	}
	
	.top_bar p {margin-top:0.5rem;}
	.iconbox {margin-bottom:4rem;}
	
}

@media (min-width: 480px) and (max-width: 767px) {
	.top_bar p {
		margin-top:0.5rem;
	}
	.iconbox {margin-bottom:4rem;}
	
}

.lc-iframe-wrapper {
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 56%;
	margin-right: 40px;
}

.lc-iframe-wrapper iframe {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}